/* font-family: "HaginCapsMedium"; */
@font-face {
  font-family: "HaginCapsMedium";
  src: url("../fonts/HaginCaps/HaginCapsMedium.eot");
  src: url("../fonts/HaginCaps/HaginCapsMedium.eot?#iefix")format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Myriad Pro"; */
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadPro/Myriad-Pro-Light-SemiExtended_31641.ttf") format("truetype");
}

.tel {
  font-family: "HaginCapsMedium", sans-serif;
  font-size: 16pt;
}

.plus {
  font-size: 30px;
}

.copy {
  font-size: 9px;
}