/* font-family: "HaginCapsMedium"; */
@font-face {
  font-family: "HaginCapsMedium";
  src: url("../fonts/HaginCapsMedium/HaginCapsMedium.eot");
  src: url("../fonts/HaginCapsMedium/HaginCapsMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HaginCapsMedium/HaginCapsMedium.woff") format("woff"),
  url("../fonts/HaginCapsMedium/HaginCapsMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "Myriad Pro"; */
@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadPro/Myriad-Pro-Light-SemiExtended_31641.ttf") format("truetype");
}

.tel {
  font-family: "HaginCapsMedium", sans-serif;
}