html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-size: cover;
    background: #fff url("../img/preloader.gif") no-repeat center center;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

.hidden {
  display: none; }

.page {
  padding: 0;
  /* max-width: 990px */
  margin: 0 auto; }

.row {
  margin: 0; }

section {
  /* height: 100vh */
  padding: 15px;
  text-align: center; }

.sect-1 {
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding-top: 0; }
  .sect-1 .note-img {
    background: url(../img/not.png) no-repeat 35px -456px;
    background-size: 150%;
    position: absolute;
    height: 690px;
    width: 225px;
    right: 0; }
  .sect-1 .visit-box {
    text-transform: uppercase;
    text-align: left;
    height: 130px; }
    .sect-1 .visit-box input {
      background-color: transparent;
      color: black;
      border: 0;
      border-bottom: 1px solid black;
      margin-bottom: 20px; }
    .sect-1 .visit-box .call-me {
      width: 200px;
      background-color: #d6152e;
      color: white;
      border: 0;
      padding-top: 3px; }
  .sect-1 .text-xs {
    margin: 0 auto; }
  .sect-1 .menu button {
    width: 32px;
    height: 33px;
    padding: 0;
    background: transparent url(../img/menu.png);
    border: 0 !important;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 5; }
  .sect-1 .menu ul {
    position: fixed;
    width: 75%;
    left: 27%;
    margin-left: -18%;
    z-index: 2;
    top: 23%; }
    .sect-1 .menu ul li {
      list-style-type: none;
      text-align: center;
      margin: 0 auto;
      background-color: #414643;
      margin-bottom: 1px;
      margin-top: 1px; }
      .sect-1 .menu ul li a {
        line-height: 35px;
        display: inline-block;
        width: 100%;
        color: white; }
        .sect-1 .menu ul li a:hover {
          text-decoration: none; }
  .sect-1 .logo-box {
    position: relative;
    z-index: 1; }
    .sect-1 .logo-box #logo {
      display: inline-block;
      margin: 0 auto; }
  .sect-1 .contact-box {
    text-align: left; }
    .sect-1 .contact-box .contact-box__link {
      color: #000;
      text-decoration: underline; }
    .sect-1 .contact-box .col-centered {
      text-align: center; }

.sect-2 {
  /* background: url(../img/dotted-center.png) center 30% no-repeat */
  -webkit-background-size: 1px 500px;
  background-size: 1px 760px;
  padding-left: 70px;
  padding-right: 70px; }
  .sect-2 .napravleniya {
    display: inline-block; }
    .sect-2 .napravleniya input {
      background-color: transparent;
      color: black;
      border: 0;
      border-bottom: 1px solid black;
      margin-bottom: 20px; }
    .sect-2 .napravleniya button {
      background-color: white;
      width: 200px;
      border: 1px solid #6d7373;
      color: #6d7373; }
      .sect-2 .napravleniya button:hover {
        background-color: #6c6c6c;
        color: white; }
      .sect-2 .napravleniya button:active {
        background-color: #6c6c6c;
        color: white; }

.sect-3 {
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .sect-3 .red {
    color: red; }
  .sect-3 table {
    margin: 0 auto; }
    .sect-3 table tr {
      border: 1px dashed; }
      .sect-3 table tr td {
        border: 1px dashed; }

.sect-4 .insta-img-box {
  margin-bottom: 20px; }
.sect-4 img {
  display: inline-block; }

.sect-5 {
  background-color: #414643;
  color: white; }
  .sect-5 .row .sert-head-box {
    margin-top: -40px; }
    .sect-5 .row .sert-head-box .sert-head-text {
      background: url(../img/sert-bg.png) no-repeat;
      display: inline-block;
      width: 399px;
      height: 52px;
      padding-top: 17px; }
  .sect-5 .row .sert-head-box-xs {
    margin-top: -37px; }
    .sect-5 .row .sert-head-box-xs .sert-head-text-xs {
      background: url(../img/sert-bg-xs.png) no-repeat;
      display: inline-block;
      width: 278px;
      height: 47px;
      padding-top: 14px; }
  .sect-5 .row .sert-text {
    padding-left: 20%;
    padding-right: 20%; }
  .sect-5 img {
    display: inline-block; }

.sect-6 form {
  width: auto; }
.sect-6 input {
  width: 200px;
  margin-top: 10px; }
.sect-6 button {
  margin-right: 3px;
  margin-top: 10px; }
.sect-6 .call-me {
  width: 200px;
  background-color: #d6152e;
  color: white;
  border: 0;
  padding-top: 3px; }

.sect-7 {
  background-color: #414643;
  color: white;
  padding-bottom: 0; }
  .sect-7 .card {
    margin: 0 -15px; }
  .sect-7 .copy {
    text-align: left;
    margin: 0; }

/*# sourceMappingURL=main.css.map */
